.ContentsMath {
    margin-top: 100px;
}
.TitleContents {
    font-size: 25px;
    font-weight: bolder;
}
img {
    width: 140px;
    transform: translateY(0%);
    animation-name: moveImg;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.listMathContents {
    padding: 0;
    padding-left: 15px;
    font-size: 20px;
}
li {
    padding: 1.5px;
}

@keyframes  moveImg {
    0% {
        transform: translateY(-3%);
    }
    50% {
        transform: translateY(-9%);
    }
    100% {
        transform: translateY(0%);
    }
}